/* MENU */
.menu a:link {
	font: 30px bold serif;
	color: #6666FF;
	text-decoration: none;
}

.menu a:visited {
	font: 30px serif;
	color: #6666FF;
	text-decoration: none;
}

.menu a:hover {	
	font: 30px serif;
	color: #FFFFFF; 
	text-decoration: none;
}

.menu a {
	margin: 32px;
}
/* --- */



/* MAIN */
.maintable {
	margin: auto;
	width: 75%;
	min-width: 720px;
	margin: auto;
	border: white double 4px;
	border-collapse: collapse;
	background: url(gfx/jeansdark.gif);
}

.maintable td {
	border: white double 4px;
}

.menu td, .main td, .footer td {
	border: 0;
}

.main h1 {
	margin: 0 0 10px 0;
}

.pfaa {
	float: left;
	margin: 0 10px 0px 0;
}

.pfaa img {
	border: white solid 1px;
	margin: 10px;
}
/* --- */



/* FOOTER */
.informer img {
	border: none;
}
.informer a {
	border: none;
}
/* --- */


/* OTHER */
* {
	text-align: center;
	color: white;  
	font-family: "Courier New", "Droid Sans Mono", monospace; 
}

body {
    background: url(gfx/jeans.gif);
	margin: 0;
	font-size: 16px;
}
/* --- */